.dailyWeatherBlock{
    flex:1;
    display: block;   
}
.dailyAspect{
    font-size: 2vh;
    margin: 0;
    text-align: center;
}
.dailyWeatherBlock canvas{
    margin: 0;
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
}
@media only screen and (max-width: 320px){
    .dailyAspect{
        font-size: 1.5vh;
    }
}